* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

button {
    border-radius: 50px !important;

    font-family: 'Fixel', sans-serif;
    font-weight: 600;
}

.main_container {
    margin: 0 72px;
}
