@font-face {
    font-family: 'Fixel';

    src:
        url('../fonts/fixeltext-regular-webfont.woff2') format('woff2'),
        url('../fonts/fixeltext-regular-webfont.woff2') format('woff');

    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fixel';

    src:
        url('../fonts/fixeltext-bold-webfont.woff2') format('woff2'),
        url('../fonts/fixeltext-bold-webfont.woff2') format('woff');

    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Fixel';

    src:
        url('../fonts/fixeltext-semibold-webfont.woff2') format('woff2'),
        url('../fonts/fixeltext-semibold-webfont.woff2') format('woff');

    font-weight: 600;
    font-style: normal;
}
