@import 'styles/variables.scss';
@import 'styles/mixins.scss';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
}

li {
    a {
        font-family: 'Fixel', sans-serif;
        font-weight: normal;
        text-decoration: none;
        color: $textColor;
        &:hover {
            color: $black;

            font-weight: 600;
        }
    }
}

.logo {
    width: 132px;
    height: 75px;
}

nav {
    ul {
        display: flex;
        justify-content: space-between;
        gap: 42px;
    }
}

.header_btns {
    display: flex;
    gap: 12px;
}

.try {
    background-color: $deepViolet;
    @include deepViletBtn();
}
